link(href='/stylesheet/view-invoice.css' rel='stylesheet')

div.modal.fade#dialogPrintInvoice(tabindex='-1', role='dialog', aria-labelledby='dialogPrintInvoice')
  div.modal-dialog.modal-dialog-centered.modal-lg(role='document')
    div.modal-content
      div.modal-header
        h5.modal-title Print voucher
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      
      div.modal-body
        #invoice-box.invoice-box
          table(cellpadding='0' cellspacing='0')
            //- tr.topspace
            //-   td(colspan='2')
            //-     table
            //-       tr
            //-         td.title
            //-           img(src='https://www.sparksuite.com/images/logo.png' style='width: 100%; max-width: 300px')
            //-         td
            //-           | Olivia Giroud 
            //-           br
            //-           | Created: January 1, 2015
            //-           br
            //-           | Due: February 1, 2015

            tr.information
              td(colspan='6')
                table
                  tr
                    td(colspan="3")
                      | Name: Mr Smith
                      br
                      | Phone: 092213456
                      br
                      | Address: No 19 Soonloon Ward
                    td.align-right(colspan="3")
                      | Date: Dec 15, 2023
                      br
                      | Voucher: #123123

          table(cellpadding='0' cellspacing='0')
            tr.heading
              td
              td.align-right Quantity
              td.align-right Balance

            each item, idx in [1,2,3]
              -var imgSrc = "/images/products/default-128x128.png";

              tr.item
                td
                  if (imgSrc)
                    img.img(src=imgSrc, alt="", srcset="" width="30" height="30")

                  span.mx-1 
                    |  es simplemente el texto de relleno de las  !{item}

                td.align-right !{item}
                td.align-right !{item * 1000} 

            tr.item
              td(colspan="2").align-right 
                b Sub Total
              td.align-right 6000
            tr.item
              td(colspan="2").align-right 
                b Tax
              td.align-right 0
            tr.total
              td(colspan="2").align-right 
                b Total
              td.align-right 6000

          p.text-center
            | Thank you for shopping!

      div.modal-footer.justify-content-md-center
        button.btn.btn-sm.material-button.material-secondary#dialogCancel(type='button', data-dismiss='modal')
          |  CLOSE
        button.btn.btn-sm.material-button.material-primary.mx-1#dialogInvoice(type='button', role="button" onclick="return printInvoice()" data-dismiss='modal')
          i.bi.bi-printer
          |  PRINT

script.
  $(document).ready(function() {
    
  });

  function printInvoice() {
    printJS({
      type: 'html',
      printable: 'invoice-box',
      css: '/stylesheet/view-invoice.css'
    })
  }
